div.board {
  max-width: 382px;
  height: 368px;
  overflow: hidden;
  margin: auto;

  @include breakpoint(sm) {
    margin: 0 auto;
  }

  div.game-over {
    height: 100%;
    display: flex;
    align-items: center;

    & h4 {
      display: block;
      margin: 0 auto;
      flex-basis: 60%;
      text-align: center;
      text-transform: uppercase;
      background: linear-gradient(to top, #ff8a00 0%, #da1b60 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font: {
        size: 34px;
        family: 'grandHotel';
      }
    }
  }
}
