div.playerInfor {
  padding: 1rem;

  section.score {
    div {
      flex-basis: 50%;
    }
  }

  section.score, section.score-total {
    align-items: center;
    flex-wrap: wrap;
  
    & h4 {
      text-transform: uppercase;
      background: linear-gradient(to top, #ff8a00 0%, #da1b60 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font: {
        size: 34px;
        family: 'grandHotel';
      }
    }
  
    & span.bonus, span.score {
      display: block;
      margin: 0 auto;
      flex-basis: 60%;
      text-align: center;
      text-transform: uppercase;
      background: linear-gradient(to top, #ff8a00 0%, #da1b60 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font: {
        size: 34px;
        family: 'grandHotel';
      }
    }
  }

  section.score-total {
    flex-direction: column;
  }

  section.actions {
    justify-content: flex-end;
  }

  button {
    border: none;
    padding: 1rem;
    border-radius: 8px;
    background: linear-gradient(to top, #ff8a00 0%, #f7d94d 100%);
    color: #fff;
    font-size: 18px;
  }
}
