header {
  display: flex;
  justify-content: center;

  h1 {
    flex-basis: 60%;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to top, #ff8a00 0%, #da1b60 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: {
      size: 34px;
      family: 'grandHotel';
    }
  }
}

main {
  @include breakpoint(sm) {
    display: flex;

    & > div {
      flex-basis: 50%;
    }
  }

  @include breakpoint(sm) {
    max-width: 768px;
    margin: 0 auto;
  }
}
